{% extends 'listings/base.html' %}

{% block content %}

<h1>Supprimer le groupe</h1>

<p>Êtes-vous sûr.e de vouloir supprimer : {{band.name}} ?</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Supprimer">
</form>



{% endblock %}
