{% load static %}
<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'band-list'%} ">Groupes</a>
            <a href="{% url 'listing-list'%}">Annonces</a>
            <a href="{% url 'email-sent'%}">Redirection emails</a>
            <a href="{% url 'about'%}">A propos</a>
        </nav>

        {% block content %}
        
        {% endblock %}

    </body>
</html>