{% extends 'listings/base.html' %}

{% block content %}

<h2>{{listing.title}}</h2>
<ul>
    <li>Description: {{listing.description}}</li>
    <li>Année: {{listing.year}} </li>
    <li>Groupe: {{listing.band}} </li>
    <li>Vendu: {{listing.sold|yesno}} </li>
</ul>

<a href="{% url 'listing-list'%}">Retour à toutes les annonces</a>
<a href="{% url 'listing-delete' listing.id %}">Supprimer cette annonce</a>
<a href="{% url 'listing-update' listing.id %}">Modifier cette annonce</a>

{% endblock %}