{% extends 'listings/base.html' %}

{% block content %}

<h1>Annonces</h1>

<a href="{% url 'listing-create' %}">Créer une nouvelle annonce</a>

<ul>
    {% for listing in listings %}
        <li>
            <a href="{% url 'listing-detail' listing.id%}">{{listing.title}}</a>
            <a href="{%  url 'listing-update' listing.id %}">[Modifier]</a>
        </li>
    {% endfor %}
</ul>



{% endblock %}
